<!DOCTYPE html>
<html>
{{>head}}

<body>
    {{>subNav}}
    <div class="container-fluid">
        <div class="row">
            {{>menu}} {{{body}}}
        </div>
    </div>

    {{>footer}}
    {{>modalDelete}}
{{!-- 
    <script>
 
        Handlebars.registerHelper('if_eq', function (a, b, opts) {
            if (a == b) {
                return opts.fn(this);
            } else {
                return opts.inverse(this);
            }
            switch(cadenaUri){

            }
        });


        switch(operator) {
       case 'devices':
           bool = a == b;
           break;      
       default:
           throw "Unknown operator " + operator;
    }
    </script> 
--}}
    
    {{!-- 
    {{#if if_eq location.pathname.substr(1).split("/")[1]=="devices"}}
     {{>footerDevices}} 
    {{/if}}
    --}}




</body>

</html>