<main role="main" class="container">

    <div class="starter-template">
        <div class="error-template">
            <h1>
                Oops!</h1>
            <h2>
                404 Página no encontrada</h2>
            <div class="error-details">
                Se ha producido un error, la página solicitada no existe
            </div>
            <div class="error-actions">
                <a href="/admon" class="btn btn-primary btn-lg">
                    Volver a la home </a>
            </div>
        </div>
    </div>

</main><!-- /.container -->