<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1>Listado de dispositivos</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-primary">A침adir un nuevo dispositivo</button>
            </div>

        </div>
    </div>

    <div id="contData">
        <div id="contResult">
            <div class="row">
                <div class="col">Resultado de la operaci칩n: </div>
                <div id="btn-up-down" class="col text-right">
                    <span data-feather="arrow-down-circle"></span>
                    <span data-feather="arrow-up-circle"></span>
                </div>
            </div>
            <div id="contResultText" class="row"></div>
        </div>
    </div>
    <div class="row">
        <div class="coll">

            <form>
                <div class="form-group">
                    <label for="deviceName">Nombre del dispositivo:</label>
                    <input type="text" class="form-control" id="deviceName" name="device_name" placeholder="Nombre identificativo del dispositivo">
                </div>
                <div class="form-group">
                    <label for="macAddress">Mac Adress: </label>
                    <input type="text" class="form-control" id="macAddress" name="mac_address" placeholder="Direcci칩n mac del dispositivo">
                </div>
                <div class="form-group">
                    <label for="place">Ubicaci칩n: </label>
                    <input type="text" class="form-control" id="place" name="place" placeholder="Donde se encuentra el dispositivo">
                </div>
                <div class="form-group">
                    <label for="description">Descripcion: </label>
                    <textarea class="form-control" id="description" name="description" placeholder="Funcionalidad que acomete el dispositivo \n ej: sensores de consumo" rows="3"></textarea>
                </div>            
                 <div class="form-group">
                    <label for="deviceType">Descripcion: </label>
                    <textarea class="form-control" id="deviceType" name="device_type" placeholder="Ej: Arduino \ Esp32"></textarea>
                </div>                
               
                <div class="form-group">
                   <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
            </form>

        </div>
    </div>
</main>