<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1>Listado de dispositivos</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">

            </div>
        </div>
    </div>

    <div id="contData">
        <div id="contResult">
            <div class="row">
                <div class="col">Resultado de la operación: </div>
                <div id="btn-up-down" class="col text-right">
                    <span data-feather="arrow-down-circle"></span>
                    <span data-feather="arrow-up-circle"></span>
                </div>
            </div>
            <div id="contResultText" class="row"></div>
        </div>
    </div>


    <form class="form-device-add" id="formDeviceAdd">
        <div class="form-row">
            <div class="col-md-4 mb-4">
                <label for="deviceName">Nombre del dispositivo:</label>
                <input type="text" class="form-control" id="deviceName" name="device_name" placeholder="Nombre identificativo del dispositivo">
            </div>
            <div class="col-md-4 mb-4">
                <label for="macAddress">Mac Adress: </label>
                <input type="text" class="form-control" id="macAddress" name="mac_address"  autocomplete="on"  placeholder="Dirección mac del dispositivo">
            </div>
            <div class="col-md-4 mb-4">
                <label for="place">Ubicación: </label>                
                <select class="form-control" id="place" name="place">
                    <option selected value="salón">salón</option>
                    <option value="habitación1">habitación 1</option>
                    <option value="habitación2">habitación 2</option>
                    <option value="cocina">cocina</option>
                    <option value="baño">baño</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-4">
                <label for="description">Descripcion: </label>
                <textarea class="form-control" id="description" name="description"  autocomplete="on"  placeholder="Funcionalidad que acomete el dispositivo \n ej: sensores de consumo"
                    rows="3"></textarea>
            </div>
            <div class="col-md-4 mb-4">
                <label for="deviceType">Tipo de dispositivo: </label>
                <select class="form-control" id="deviceType" name="device_type">
                    <option selected value="arduino">Arduino</option>
                    <option value="esp32">Esp32</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit" id="btnDeviceAdd" >Guardar Dispositivo</button>
        </div>
    </form>


</main>