<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1>{{title}}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                
            </div>

        </div>
    </div>

    <div id="contData">
        <div id="contResult">
            <div class="row">
                <div class="col">Resultado de la operación: </div>
                <div id="btn-up-down" class="col text-right">
                    <span data-feather="arrow-down-circle"></span>
                    <span data-feather="arrow-up-circle"></span>
                </div>
            </div>
            <div id="contResultText" class="row"></div>
        </div>
    </div>

    <form class="form-user-add" id="formUserAdd">
        <div class="form-row">
            <div class="col-md-6 mb-4">
                <label for="name">Nombre:</label>
                <input type="text" class="form-control" id="name" name="name"  autocomplete="on" placeholder="Nombre del usuario">
            </div>
            <div class="col-md-6 mb-4">
                <label for="surname">Apellidos: </label>
                <input type="text" class="form-control" id="surname" name="surname"  autocomplete="on" placeholder="Apellidos del usuario">
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 mb-4">
                <label for="email">Correo electronico: </label>
                <input type="email" class="form-control" id="email" name="email"  autocomplete="on" placeholder="Correo electronico del usuario">
            </div>
            <div class="col-md-6 mb-4">
                <label for="password">Contraseña: </label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Introduzca una contraseña">
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit" id="btnUserAdd">Insertar Usuario</button>
        </div>
    </form> 
</main>
