h2.titulo {
  background: blue; }

#contResult {
  border: #868686 thin solid;
  background-color: #585858;
  color: white;
  padding: 2px 12px; }

#contResultText b:nth-last-child(-n+2) {
  margin-left: 8px; }

.alert {
  padding: .3rem 0.4rem;
  margin-top: 8px; }

#btn-up-down span {
  margin: 2px 3px;
  padding: 0px 5px; }

.nav-item > ul .nav-item {
  margin-left: 1rem;
  margin-right: 1rem; }

.menu-item-selected {
  background-color: #dbe6f1; }

h1 {
  font-size: 1.6rem;
  color: #007bff;
  font-weight: bold; }
